.plantonics-blackbeat-pro {
  flex: 1;
  position: relative;
  line-height: 21px;
  display: inline-block;
  max-width: 100%;
}
.image-16-icon1 {
  height: 208px;
  width: 162px;
  position: absolute;
  margin: 0 !important;
  top: -206px;
  left: calc(50% - 81px);
  object-fit: cover;
  z-index: 1;
}
.product-card-column-three {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.add-to-cart1,
.product-separator-two {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 21px;
}
.product-separator-two {
  align-self: stretch;
  white-space: nowrap;
}
.add-to-cart1 {
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 115px;
}
.card-button-three-container,
.card-button-three-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.card-button-three-row {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs);
  background-color: var(--color-darkcyan);
  border-radius: var(--br-8xs);
  justify-content: flex-start;
  white-space: nowrap;
}
.card-button-three-row:hover {
  background-color: var(--color-lightseagreen);
}
.card-button-three-container {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.product-card-container-three {
  width: 376px;
  border-radius: var(--br-5xl);
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-208xl) 0 var(--padding-3xs);
  gap: var(--gap-5xs);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 450px) {
  .plantonics-blackbeat-pro {
    font-size: var(--font-size-lgi);
    line-height: 17px;
  }
  .product-separator-two {
    font-size: var(--font-size-base);
    line-height: 17px;
  }
}
